body {
  background: black;
  color: white;
  font-family: AppleSystemUIFont, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.3s all ease-in-out linear;
}

@media (max-width: 900px) {
  body {
      transform: scale(0.5);
      transform-origin: center;
  }
}
.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.title {
  font-size: 4rem;
  margin-bottom: 20px;
}

.countdown-title {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.input {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: #a1a1a1 0 0 15px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}

.input:hover {
  box-shadow: white 0 0 20px;
  border-radius: 8px;
  background: #444;
}

.input:focus {
  outline: none;
  box-shadow: white 0 0 20px;
  border-radius: 8px;
  background: #777;
  font-size: 25px;
}

.notification-button {
  background: black;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.notification-button:hover {
  color: black;
  cursor: pointer;
  background: #ffffff;
}

.notification-button:focus {
  outline: none;
  box-shadow: white 0 0 20px;
  border-radius: 8px;
  background: #777;
}

.warning {
  font-size: 12px;
}